body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 3px;
}

.titulo .logo{
    gap: 20px;
}
