body {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    color: #fff;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.titulo p {
    text-align: center;
    margin-top: 150px;
    font-weight: 400;
    font-size: 96px;
    letter-spacing: 3px;
}

.logo {
    margin-top: 150px;
}

.subtitulo p {
    font-size: 40px;
    font-family: "Gulzar", sans-serif;
    display: flex;
    margin: 20px;
}

.botao {
    height: 100px;
    width: 413px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 50px;
    font-family: "Geologica", sans-serif;
}

.botao p {
    font-size: 50px;
    font-weight: 400;
    color: #000;
}

.nuvem {
    width: 45px;
    height: 40.5px;
}

.comofunciona {
    font-size: 35px;
    margin: 55px;
}

.telas {
    display: flex;
    gap: 55px;
}

.tela1 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela1-desk.jpg);
}

.tela2 {
    width: 656px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela2-desk.jpg);
}

.tela3 {
    width: 640px;
    height: 386px;
    background-size: 100%;
    background-image: url(../img/tela3-desk.jpg);
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-top: 50px;
}

.grupo p {
    font-size: 50px;
    margin-bottom: 10px;
}