body {
    background-color: #000;
    height: 100vh;
    font-family: "Inter", sans-serif;
    color: #fff;
    align-items: center;
    justify-content: center;
}

/*FORMATAÇÃO PARA DESKTOP*/
.carro1 {
    height: 150px;
    position: absolute;
    top: 15px;
    left: 250px;
}

.carro-wrapper1 {
    position: absolute;
    top: -70px;
    /* começa fora da tela */
    left: 100px;
    animation: moverL1 9s ease-in-out forwards;
}

.carro1 {
    animation: moverL1 10s ease-in-out forwards, girar1 10s ease-in-out forwards;
    animation-delay: 0s;
    /* Animação começa imediatamente */
}

@keyframes moverL1 {
    0% {
        transform: translate(0, -150px);
    }

    /* Começa fora da tela */
    50% {
        transform: translate(0, 50px);
    }

    /* Desce reto */
    100% {
        transform: translate(-520px, 50px);
    }

    /* Vai para a esquerda */
}

/* Giro do carro, agora começa reto e depois gira */
@keyframes girar1 {
    0% {
        transform: rotate(-180deg);
    }

    /* Começa reto */
    100% {
        transform: rotate(0deg);
    }

    /* Desce reto, sem rotação */
    50% {
        transform: rotate(0deg);
    }

    /* Começa a girar */
    100% {
        transform: rotate(0deg);
    }

    /* Termina virado para a esquerda */
}

.carro2 {
    height: 150px;
    position: absolute;
    top: 15px;
    left: 250px;
}

.carro-wrapper2 {
    position: absolute;
    top: -70px;
    /* começa fora da tela */
    left: 100px;
    animation: moverL2 15s ease-in-out forwards;
}

.carro2 {
    animation: moverL2 13s ease-in-out forwards, girar2 13s ease-in-out forwards;
    animation-delay: 0s;
    /* Animação começa imediatamente */
}

@keyframes moverL2 {
    0% {
        transform: translate(0, -150px);
    }

    /* Começa fora da tela */
    50% {
        transform: translate(0, 250px);
    }

    /* Desce reto */
    100% {
        transform: translate(-520px, 250px);
    }

    /* Vai para a esquerda */
}

/* Giro do carro, agora começa reto e depois gira */
@keyframes girar2 {
    0% {
        transform: rotate(-180deg);
    }

    /* Começa reto */
    100% {
        transform: rotate(-190deg);
    }

    /* Desce reto, sem rotação */
    50% {
        transform: rotate(-80deg);
    }

    /* Começa a girar */
    100% {
        transform: rotate(0deg);
    }

    /* Termina virado para a esquerda */
}

.carro3 {
    height: 150px;
    position: absolute;
    top: 15px;
    left: 250px;
}

/* Wrapper: controla apenas o movimento em L */
.carro-wrapper3 {
    position: absolute;
    top: -850px;
    /* começa fora da tela */
    left: 250px;
    animation: moverL3 15s ease-in-out forwards;
}

/* Imagem: controla apenas a rotação */
.carro3 {
    height: 150px;
    animation: girar3 15s ease-in-out forwards;
}

/* Movimento em L */
@keyframes moverL3 {
    0% {
        transform: translate(0, -1200px);
    }

    /* Começa fora da tela */
    50% {
        transform: translate(0, 1250px);
    }

    /* Desce */
    100% {
        transform: translate(-650px, 1200px);
    }

    /* Vai para a esquerda */
}

/* Giro progressivo sem sobrescrever o movimento */
@keyframes girar3 {
    0% {
        transform: rotate(0deg);
    }

    /* Começa apontado para baixo */
    0% {
        transform: rotate(-180deg);
    }

    /* Não gira enquanto desce */
    0% {
        transform: rotate(-90deg);
    }

    /* Começa o giro para esquerda */
    100% {
        transform: rotate(0deg);
    }

    /* Termina apontado para a esquerda */
}

.animacao h1 {
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: 300px;
}

.numerovaga2 h1 {
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: 150px;
}

.numerovaga3 h1 {
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: -410px;
}

h1 {
    transform: rotate(180deg);
    transform-origin: left top;
}

.traco-1 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top: 10px;
}

.traco-2 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top: 190px;
}

.traco-3 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top: 370px;
}

.traco-4 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top: 560px;
}


/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo {
    display: flex;
    gap: 10px;
}

.titulo p {
    text-align: center;
    margin-top: -190px;
    font-weight: 400;
    font-size: 128px;
    letter-spacing: 3px;
}

.logo {
    margin-top: -200px;
}

.subtitulo p {
    font-size: 50px;
    font-family: "Gulzar", sans-serif;
    display: flex;
    margin: 5px;
}

/* MAIN */
main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.botao {
    justify-content: center;
    align-items: center;
    display: flex;
    background: #ffffff;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 90px;
}

.botao:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.30);
}

.botao:active {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.botao p {
    font-size: 50px;
    font-weight: 400;
    color: #000;
    font-family: "Geologica", sans-serif;
}

.nuvem {
    width: 75px;
    height: 40.5px;
}

.comofunciona {
    font-size: 35px;
    margin: 65px 0px 20px 0px;
    align-items: center;
    justify-content: center;
}

.carrossel {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 60px;
    margin-right: 20px;
    padding-bottom: 170px;
}

.tela1 {
    width: 336px;
    height: 197px;
    background-size: 100%;
    background-image: url(../img/tela1-desk.jpg);
}

.tela2 {
    width: 328px;
    height: 197px;
    background-size: 100%;
    background-image: url(../img/tela2-desk.jpg);
}

.tela3 {
    width: 320px;
    height: 193px;
    background-size: 100%;
    background-image: url(../img/tela3-desk.jpg);
}

.retangulo-branco {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.retangulo-branco p {
    color: #000;
    display: flex;
    margin-left: 40px;
    font-size: 150px;
    font-family: "Gulzar", sans-serif;
}

.descricao p {
    font-size: 45px;
    margin: -40px 40px 40px 40px;
    text-align: justify;
    font-family: "Inter", sans-serif;
}

.grupo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.vidal,
.rolim,
.jefferson {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vidal img,
.rolim img,
.jefferson img {
    width: 230px;
    height: 230px;
    display: flex;
    border-radius: 300px;
}

.vidal p,
.rolim p,
.jefferson p {
    font-size: 40px;
}

.gerencie {
    font-size: 48px;
    padding: 70px;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40vh;
    gap: 70px;
}

.visualize,
.registre,
.saiba {
    width: 460px;
    align-items: center;
    justify-content: center;
}

.visualize p,
.registre p,
.saiba p {
    font-size: 36px;
    text-align: center;
}

.telas {
    width: 416px;
    height: 297px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    color: #000;
}

.retangulo {
    padding: 17px 0px 30px 0px;
    gap: 7px;
    display: flex;
}

.retangulo h2 {
    font-size: 64px;
    font-weight: 400;
}

.faleconosco {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.linkedin,
.github {
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkedin p,
.github p {
    font-size: 32px;
}

.linkedin img,
.github img {
    width: 40px;
    height: 40px;
}

.parkmanager {
    padding: 60px 0px 10px 0px;
}

/* TABLET - iPad Mini */
@media(max-width: 1024px) {
    .animacao {
        display: none;
    }

    .titulo p {
        margin-top: 30px;
        font-size: 95px;
    }

    .titulo img {
        margin-top: 27px;
    }

    .carrossel {
        gap: 45px;
    }

    .seta {
        width: 70px;
        height: 70px;
    }

    .tela1 {
        width: 157px;
        height: 212px;
        background-image: url(../img/tela1-tabl.jpg);
    }

    .tela2 {
        width: 144px;
        height: 207px;
        background-image: url(../img/tela2-tabl.jpg);
    }

    .tela3 {
        width: 144px;
        height: 210px;
        background-image: url(../img/tela3-tabl.jpg);
    }

    .retangulo-branco {
        height: 65vh;
    }

    .retangulo-branco p {
        font-size: 40px;
        margin: 20px;
    }

    .descricao p {
        margin: 10px 20px 20px 20px;
        font-size: 24px;
    }

    .vidal img,
    .rolim img,
    .jefferson img {
        width: 150px;
        height: 150px;
    }

    .vidal p,
    .rolim p,
    .jefferson p {
        font-size: 24px;
    }

    .gerencie {
        font-size: 24px;
        padding: 50px 0px 40px 0px;
    }

    .telas {
        height: 133px;
        width: 187px;
    }

    .container {
        height: 20vh;
    }

    .visualize,
    .registre,
    .saiba {
        width: 209.3px;
    }

    .visualize p,
    .registre p,
    .saiba p {
        font-size: 15px;
    }

    .retangulo h2 {
        font-size: 48px;
    }

    .retangulo img {
        width: 56px;
        height: 56px;
    }

    .faleconosco {
        height: 15vh;
        gap: 10px;
        padding-left: 60px;
    }

    .linkedin p,
    .github p {
        font-size: 20px;
    }

    .linkedin img,
    .github img {
        width: 30px;
        height: 30px;
    }

    .parkmanager p {
        font-size: 37px;
    }
}