body {
    background-color: #000;
    height: 100vh;
    font-family: "Inter", sans-serif;
    color: #fff;
}

/*FORMATAÇÃO PARA DESKTOP*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo {
    display: flex;
    gap: 10px;
}

.titulo p {
    text-align: center;
    margin-top: 150px;
    font-weight: 400;
    font-size: 96px;
    letter-spacing: 3px;
}

.logo {
    margin-top: 150px;
}

.subtitulo p {
    font-size: 40px;
    font-family: "Gulzar", sans-serif;
    display: flex;
    margin: 17px;
}

.botao {
    height: 100px;
    width: 413px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 50px;
    font-family: "Geologica", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
}

.botao:hover {
    transition: 5s;
}

.botao p {
    font-size: 50px;
    font-weight: 400;
    color: #000;
}

.nuvem {
    width: 45px;
    height: 40.5px;
}

.comofunciona {
    font-size: 35px;
    margin: 65px 0px 20px 0px;
    align-items: center;
    justify-content: center;
}

.carrossel {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 55px;
}

.tela1 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela1-desk.jpg);
}

.tela2 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela2-desk.jpg);
}

.tela3 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela3-desk.jpg);
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 110px;
}

.grupo p {
    font-size: 50px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    font-size: 32px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.sites {
    display: flex;
    gap: 10px;
}

.instagram,
.whatsapp {
    display: flex;  gap: 10px;
    align-items: center;
}

.carro1 {
    height:150px ;
    position: absolute;
    top: 15px;
    left: 250px;
}

.carro-wrapper1 {
    position: absolute;
    top: -70px;  /* começa fora da tela */
    left: 100px;
    animation: moverL1 9s ease-in-out forwards;
}

.carro1 {
    animation: moverL1 10s ease-in-out forwards, girar1 10s ease-in-out forwards;
    animation-delay: 0s; /* Animação começa imediatamente */
}

 @keyframes moverL1  {
    0%   { transform: translate(0, -150px); } /* Começa fora da tela */
    50%  { transform: translate(0, 50px); }  /* Desce reto */
    100% { transform: translate(-520px, 50px); } /* Vai para a esquerda */
}

/* Giro do carro, agora começa reto e depois gira */
@keyframes girar1 {
    0%   { transform: rotate(-180deg); }  /* Começa reto */
    100%  { transform: rotate(0deg); }  /* Desce reto, sem rotação */
    50%  { transform: rotate(0deg); } /* Começa a girar */
    100% { transform: rotate(0deg); } /* Termina virado para a esquerda */
}

.carro2 {
    height:150px ;
    position: absolute;
    top: 15px;
    left: 250px;
}

.carro-wrapper2 {
    position: absolute;
    top: -70px;  /* começa fora da tela */
    left: 100px;
    animation: moverL2 15s ease-in-out forwards;
}

.carro2 {
    animation: moverL2 13s ease-in-out forwards, girar2 13s ease-in-out forwards;
    animation-delay: 0s; /* Animação começa imediatamente */
}

 @keyframes moverL2  {
    0%   { transform: translate(0, -150px); } /* Começa fora da tela */
    50%  { transform: translate(0, 250px); }  /* Desce reto */
    100% { transform: translate(-520px, 250px); } /* Vai para a esquerda */
}

/* Giro do carro, agora começa reto e depois gira */
@keyframes girar2 {
    0%   { transform: rotate(-180deg); }  /* Começa reto */
    100%  { transform: rotate(-190deg); }  /* Desce reto, sem rotação */
    50%  { transform: rotate(-80deg); } /* Começa a girar */
    100% { transform: rotate(0deg); } /* Termina virado para a esquerda */
}

.carro3 {
    height:150px ;
    position: absolute;
    top: 15px;
    left: 250px;
}
/* Wrapper: controla apenas o movimento em L */
.carro-wrapper3 {
    position: absolute;
    top: -850px;   /* começa fora da tela */
    left: 250px;
    animation: moverL3 15s ease-in-out forwards;
}

/* Imagem: controla apenas a rotação */
.carro3 {
    height: 150px;
    animation: girar3 15s ease-in-out forwards;
}

/* Movimento em L */
@keyframes moverL3 {
    0%   { transform: translate(0, -1200px); }   /* Começa fora da tela */
    50%  { transform: translate(0, 1250px); }    /* Desce */
    100% { transform: translate(-650px, 1200px); } /* Vai para a esquerda */
}

/* Giro progressivo sem sobrescrever o movimento */
@keyframes girar3 {
    0%   { transform: rotate(0deg); }  /* Começa apontado para baixo */
    0%  { transform: rotate(-180deg); }  /* Não gira enquanto desce */
    0%  { transform: rotate(-90deg); }   /* Começa o giro para esquerda */
    100% { transform: rotate(0deg); }     /* Termina apontado para a esquerda */
}

.animacao h1{
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: 300px;
}

.numerovaga2 h1{
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: 150px;
}

.numerovaga3 h1{
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: -410px;
}


h1 {
    transform: rotate(180deg);
    transform-origin: left top; /* muda o centro da rotação */
}

.traco-1 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:10px ;
}

.traco-2 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:190px ;
}

.traco-3 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:370px ;
}

.traco-4 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:560px ;
}

/*FORMATAÇÃO PARA TABLET - iPad Mini*/
@media (max-width: 1024px) {
    .animacao {
        display: none;
    }

    .titulo p {
        margin-top: 70px;
    }

    .logo {
        margin-top: 70px;
    }

    .subtitulo p {
        margin: 0px;
    }

    .carrossel {
        gap: 30px;
    }

    .seta {
        width: 82.5px;
        height: 71.25px;
    }

    .tela1 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela1-tabl.jpg);
    }

    .tela2 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela2-tabl.jpg);
    }

    .tela3 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela3-tabl.jpg);
    }

    .telas {
        width: 462px;
        height: 329px;
    }

    .grupo p {
        font-size: 30px;
    }

    footer p {
        font-size: 25px;
    }

    .logos {
        width: 25px;
        height: 25px;
    }
}

/*FORMATAÇÃO DO MOBILE - iPhone SE*/
@media (max-width: 480px) {
    .titulo {
        margin-top: 40px;
    }

    .titulo p {
        font-size: 36px;
        margin-top: 0px;
    }

    .logo {
        width: 56px;
        height: 52px;
        margin-top: 0px;
    }

    .subtitulo p {
        font-size: 25px;
    }

    .botao {
        width: 252px;
        height: 49px;
        gap: 5px;
    }

    .botao p {
        font-size: 24px;
    }

    .nuvem {
        width: 32px;
        height: 28px;
        margin-bottom: 5px;
    }

    .comofunciona {
        font-size: 24px;
    }

    .carrossel {
        gap: 7px;
    }

    .seta {
        width: 55px;
        height: 40px;
    }

    .tela1 {
        width: 64px;
        height: 133px;
        background-image: url(../img/tela1-cel.jpg);
    }

    .tela2 {
        width: 64px;
        height: 133px;
        background-image: url(../img/tela2-cel.jpg);
    }

    .tela3 {
        width: 64px;
        height: 133px;
        background-image: url(../img/tela3-cel.jpg);
    }

    .grupo {
        margin-top: 20px;
    }

    .grupo p {
        font-size: 20px;
    }

    .telas {
        width: 223px;
        height: 159px;
    }

    footer {
        flex-direction: column;
    }

    footer p {
        font-size: 15px;
    }

    .barra {
        display: none;
    }

    .instagram,
    .whatsapp {
        gap: 5px;
    }

    .logos {
        width: 15px;
        height: 15px;
    }
}
