body {
    background-color: #000;
    height: 100vh;
    font-family: "Inter", sans-serif;
    color: #fff;
    align-items: center;
    justify-content: center;
}

/*FORMATAÇÃO PARA DESKTOP*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo {
    display: flex;
    gap: 10px;
}

.titulo p {
    text-align: center;
    margin-top: -190px;
    font-weight: 400;
    font-size: 128px;
    letter-spacing: 3px;
}

.logo {
    margin-top: -200px;
}

.subtitulo p {
    
    font-size: 50px;
    font-family: "Gulzar", sans-serif;
    display: flex;
    margin: 5px;
}

.botao {
    height: 100px;
    width: 413px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 50px;
    font-family: "Geologica", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
}

.botao:hover {
    transition: 5s;
}

.botao p {
    font-size: 50px;
    font-weight: 400;
    color: #000;
}

.nuvem {
    width: 45px;
    height: 40.5px;
}

.comofunciona {
    font-size: 35px;
    margin: 65px 0px 20px 0px;
    align-items: center;
    justify-content: center;
}

.carrossel {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 55px;
}

.retangulo-branco{
    background-color: white;
    width: 100vw;
    height: 1100px;
    margin-top: 500px;
}

.retangulo-branco p{
    color: #000;
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 150px;
}

.descricao p{
    font-size: 55px;
    margin-left: 35px;
    text-align: justify;
}

.foto-vidal img{
    width: 230px;
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
    border-radius: 300px;
}

.foto-vidal p{
    font-size: 40px;
    margin-left: 390px;
    margin-top: 5px;
}

.foto-rolim img{
    width: 230px;
    height: 230px;
    display: flex;
    border-radius: 300px;
    margin-top: -280px;
    margin-left: 1800px;
}

.foto-rolim p{
    font-size: 40px;
    margin-left: 1770px;
    margin-top: -5px;
}

.foto-jefferson img{
    width: 230px;
    height: 230px;
    display: flex;
    border-radius: 300px;
    margin-top: -280px;
    margin-left: 3240px;
}

.foto-jefferson p{
    font-size: 40px;
    margin-left: 3210px;
    margin-top: -5px;
}

.tela1 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela1-desk.jpg);
}

.tela2 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela2-desk.jpg);
}

.tela3 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela3-desk.jpg);
}

.grupo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:center;
    gap: 50px;
    margin-top: 300px;
    margin-left: 200px;
}

.grupo p {
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 330px;
}
    
footer {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    background-color:  rgb(255, 255, 255);
}

.sites {
    display: flex;
    gap: 10px;
}


.carro1 {
    height:150px ;
    position: absolute;
    top: 15px;
    left: 250px;
}

.carro-wrapper1 {
    position: absolute;
    top: -70px;  /* começa fora da tela */
    left: 100px;
    animation: moverL1 9s ease-in-out forwards;
}

.carro1 {
    animation: moverL1 10s ease-in-out forwards, girar1 10s ease-in-out forwards;
    animation-delay: 0s; /* Animação começa imediatamente */
}

 @keyframes moverL1  {
    0%   { transform: translate(0, -150px); } /* Começa fora da tela */
    50%  { transform: translate(0, 50px); }  /* Desce reto */
    100% { transform: translate(-520px, 50px); } /* Vai para a esquerda */
}

/* Giro do carro, agora começa reto e depois gira */
@keyframes girar1 {
    0%   { transform: rotate(-180deg); }  /* Começa reto */
    100%  { transform: rotate(0deg); }  /* Desce reto, sem rotação */
    50%  { transform: rotate(0deg); } /* Começa a girar */
    100% { transform: rotate(0deg); } /* Termina virado para a esquerda */
}

.carro2 {
    height:150px ;
    position: absolute;
    top: 15px;
    left: 250px;
}

.carro-wrapper2 {
    position: absolute;
    top: -70px;  /* começa fora da tela */
    left: 100px;
    animation: moverL2 15s ease-in-out forwards;
}

.carro2 {
    animation: moverL2 13s ease-in-out forwards, girar2 13s ease-in-out forwards;
    animation-delay: 0s; /* Animação começa imediatamente */
}

 @keyframes moverL2  {
    0%   { transform: translate(0, -150px); } /* Começa fora da tela */
    50%  { transform: translate(0, 250px); }  /* Desce reto */
    100% { transform: translate(-520px, 250px); } /* Vai para a esquerda */
}

/* Giro do carro, agora começa reto e depois gira */
@keyframes girar2 {
    0%   { transform: rotate(-180deg); }  /* Começa reto */
    100%  { transform: rotate(-190deg); }  /* Desce reto, sem rotação */
    50%  { transform: rotate(-80deg); } /* Começa a girar */
    100% { transform: rotate(0deg); } /* Termina virado para a esquerda */
}

.carro3 {
    height:150px ;
    position: absolute;
    top: 15px;
    left: 250px;
}
/* Wrapper: controla apenas o movimento em L */
.carro-wrapper3 {
    position: absolute;
    top: -850px;   /* começa fora da tela */
    left: 250px;
    animation: moverL3 15s ease-in-out forwards;
}

/* Imagem: controla apenas a rotação */
.carro3 {
    height: 150px;
    animation: girar3 15s ease-in-out forwards;
}

/* Movimento em L */
@keyframes moverL3 {
    0%   { transform: translate(0, -1200px); }   /* Começa fora da tela */
    50%  { transform: translate(0, 1250px); }    /* Desce */
    100% { transform: translate(-650px, 1200px); } /* Vai para a esquerda */
}

/* Giro progressivo sem sobrescrever o movimento */
@keyframes girar3 {
    0%   { transform: rotate(0deg); }  /* Começa apontado para baixo */
    0%  { transform: rotate(-180deg); }  /* Não gira enquanto desce */
    0%  { transform: rotate(-90deg); }   /* Começa o giro para esquerda */
    100% { transform: rotate(0deg); }     /* Termina apontado para a esquerda */
}

.animacao h1{
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: 300px;
}

.numerovaga2 h1{
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: 150px;
}

.numerovaga3 h1{
    color: white;
    transform: rotate(-90deg);
    margin-left: 30px;
    margin-top: -410px;
}


h1 {
    transform: rotate(180deg);
    transform-origin: left top; /* muda o centro da rotação */
}

.traco-1 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:10px ;
}

.traco-2 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:190px ;
}

.traco-3 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:370px ;
}

.traco-4 {
    height: 2px;
    width: 350px;
    background-color: white;
    position: absolute;
    top:560px ;
}
.telas {
    display: flex;
    gap: 30px;
}
.parte1, .parte2, .parte3 {
    display: flex;
    flex-direction: column;
}
.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.retangulo h2{
    font-size: 70px;
    color: black;
    display: flex;
    justify-content: center;
}
.sites h2 {
    width: 100px;
    display: flex;
    color: black;
}
.retangulo {
    display: flex;
}
.caixa {
    display: flex;
    align-items: center;
}
.foto-vidal2, .foto-guilherme2, .foto-jefferson2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.foto-vidal2 img{
    width: 230px;
    display: flex;
    border-radius: 300px;
} 
.foto-guilherme2 img{
    width: 230px;
    height: 230px;
    border-radius: 300px;
}
.foto-jefferson2 img{
    width: 230px;
    height: 230px;
    border-radius: 300px;
}






/*.linkedinv a{
    color: #000;
    font-size: 50px;
    display: flex;
    margin-left: 20px;
    margin-top:350px ;
}
.linkedinv img{
    width: 100px;
    display: flex;
    margin-left:-200px;
    margin-top:-60px ;
}
.guilhermer img{
    width: 230px;
    height: 230px;
    position: absolute;
    border-radius: 300px;
    top: 3700px;
    left: 1800px;

} 

.linkedinr a{
    color: #000;
    font-size: 50px;
    display: flex;
    margin-left: 1000px;
    margin-top:350px ;
}
.linkedinr img{
    width: 100px;
    display: flex;
    margin-left:-1500px;
    margin-top:-60px ;
}

.jeffersonv img{
    width: 230px;
    height: 230px;
    position: absolute;
    border-radius: 300px;
    top: 3700px;
    left: 1800px;

} 

/* .linkedinj a{
    color: #000;
    font-size: 50px;
    display: flex;
    margin-left: 1500px;
    margin-top:350px ;
} */
.linkedinj img{
    width: 100px;
    display: flex;
    margin-left:-10px;
    margin-top:-60px ;
} */






/*FORMATAÇÃO PARA TABLET - iPad Mini*/
@media (max-width: 1024px) {
    .animacao {
        display: none;
    }

    .titulo p {
        margin-top: 70px;
    }

    .logo {
        margin-top: 70px;
    }

    .subtitulo p {
        margin: 0px;
    }

    .carrossel {
        gap: 30px;
    }

    .seta {
        width: 82.5px;
        height: 71.25px;
    }

    .tela1 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela1-tabl.jpg);
    }

    .tela2 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela2-tabl.jpg);
    }

    .tela3 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela3-tabl.jpg);
    }

    .telas {
        width: 462px;
        height: 329px;
    }

    .grupo p {
        font-size: 30px;
    }

    footer p {
        font-size: 25px;
    }

    .logos {
        width: 25px;
        height: 25px;
    }
}

/*FORMATAÇÃO DO MOBILE - iPhone SE*/
@media (max-width: 480px) {
    .titulo {
        margin-top: 40px;
    }

    .titulo p {
        font-size: 36px;
        margin-top: 0px;
    }

    .logo {
        width: 56px;
        height: 52px;
        margin-top: 0px;
    }

    .subtitulo p {
        font-size: 25px;
    }

    .botao {
        width: 252px;
        height: 49px;
        gap: 5px;
    }

    .botao p {
        font-size: 24px;
    }

    .nuvem {
        width: 32px;
        height: 28px;
        margin-bottom: 5px;
    }

    .comofunciona {
        font-size: 24px;
    }

    .carrossel {
        gap: 7px;
    }

    .seta {
        width: 55px;
        height: 40px;
    }

    .tela1 {
        width: 64px;
        height: 133px;
        background-image: url(../img/tela1-cel.jpg);
    }

    .tela2 {
        width: 64px;
        height: 133px;
        background-image: url(../img/tela2-cel.jpg);
    }

    .tela3 {
        width: 64px;
        height: 133px;
        background-image: url(../img/tela3-cel.jpg);
    }

    .grupo {
        margin-top: 20px;
    }

    .grupo p {
        font-size: 20px;
    }

    .telas {
        width: 223px;
        height: 159px;
    }

    footer {
        flex-direction: column;
    }

    footer p {
        font-size: 15px;
    }

    .barra {
        display: none;
    }

    .instagram,
    .whatsapp {
        gap: 5px;
    }

    .logos {
        width: 15px;
        height: 15px;
    }
}
