body {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    color: #fff;
}

/*FORMATAÇÃO PARA DESKTOP*/
header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.titulo p {
    text-align: center;
    margin-top: 150px;
    font-weight: 400;
    font-size: 96px;
    letter-spacing: 3px;
}

.logo {
    margin-top: 150px;
}

.subtitulo p {
    font-size: 40px;
    font-family: "Gulzar", sans-serif;
    display: flex;
    margin: 17px;
}

.botao {
    height: 100px;
    width: 413px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 50px;
    font-family: "Geologica", sans-serif;
}

.botao p {
    font-size: 50px;
    font-weight: 400;
    color: #000;
}

.nuvem {
    width: 45px;
    height: 40.5px;
}

.comofunciona {
    font-size: 35px;
    margin: 65px 0px 20px 0px;
    align-items: center;
    justify-content: center;
}

.carrossel {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 55px;
}

.tela1 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela1-desk.jpg);
}

.tela2 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela2-desk.jpg);
}

.tela3 {
    width: 672px;
    height: 394px;
    background-size: 100%;
    background-image: url(../img/tela3-desk.jpg);
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 110px;
}

.grupo p {
    font-size: 50px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    font-size: 32px;
    gap: 10px;
    justify-content: center;
    padding: 30px;
}

.sites {
    display: flex;
    gap: 10px;
}

.instagram,
.whatsapp {
    display: flex;
    gap: 10px;
}

/*FORMATAÇÃO PARA TABLET*/
@media (max-width: 1024px) {
    .subtitulo p {
        margin: 0px;
    }

    .carrossel {
        gap: 30px;
    }

    .seta {
        width: 82.5px;
        height: 71.25px;
    }

    .tela1 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela1-tabl.jpg);
    }

    .tela2 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela2-tabl.jpg);
    }

    .tela3 {
        width: 142px;
        height: 192px;
        background-image: url(../img/tela3-tabl.jpg);
    }

    .telas {
        width: 462px;
        height: 329px;
    }

    .grupo p {
        font-size: 30px;
    }

    footer p {
        font-size: 25px;
    }

    .logos {
        width: 25px;
        height: 25px;
    }
}