body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

H1{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 3px;
}

